    & .banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #050b4b;
    height: 20rem;
    position: relative;
    align-items: center;
    
    
    & .scroller {
        
        width: 100%;
        overflow: hidden;
    }
    
    & .rolling {
            display: flex;
            gap: 5.5rem;
            will-change: transform;

            

            & img {
                width: 6rem;
                height: 6rem;
                object-fit: contain;
                flex-shrink: 0;
                text-align: center;
            }
        }
    }

